basePath: /api/v1
info:
  contact: {}
  description: This is a simple test application API.
  title: test-app API
  version: "1.0"
paths:
  /health:
    get:
      description: Returns the health status of the application
      produces:
      - application/json
      responses:
        "200":
          description: 'status: OK, app: test-app'
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Health check
      tags:
      - health
swagger: "2.0"
